<<<<<<< HEAD
<div class="loginBox wrapper">
    <h3>INICIAR SESIÓN</h2>
        <br />
        <hr />
        <img src="icon_login.png">
        {{#if mensaje}}
        <p class="{{tipo}}">{{mensaje}}</p>
        {{else}}
        <p class="mensaje">-</p>
        {{/if}}
        <br />
        <form method="post" action="/login">
            <label for="usuario">Usuario </label>
            <input type="text" name="user" id="user">
            <br /> <br />
            <label for="contraseña">Contraseña </label>
            <input type="password" name="password" id="password">
            <br /> <br />
            <input type="submit" value="Log in" id="login"></input>
        </form>
=======
<div class="loginBox wrapper">
    <h3>INICIAR SESIÓN</h2>
        <br />
        <hr />
        <img src="icon_login.png">
        {{#if mensaje}}
        <p class="{{tipo}}">{{mensaje}}</p>
        {{else}}
        <p class="mensaje">-</p>
        {{/if}}
        <br />
        <form method="post" action="/login">
            <label for="usuario">Usuario </label>
            <input type="text" name="user" id="user">
            <br /> <br />
            <label for="contraseña">Contraseña </label>
            <input type="password" name="password" id="password">
            <br /> <br />
            <input type="submit" value="Log in" id="login"></input>
        </form>
>>>>>>> 61d7fb5d99b3a5cf0ccfc16c53bf4decf3e8c4ce
</div>